* {
  box-sizing: border-box;
}
body{
  display: flex;
  flex-direction: column;
  height: 100vh !important;
}
.navbar {
  background-color: rgb(37, 52, 87);
  padding-left: 300px;
  padding-right: 300px;
}
.input-group {
  border: 1px solid black;
  padding: 2rem;
  border-radius: 0.35rem;
}
.original_string {
  padding: 1.25rem;
  background-color: #253458;
  border-radius: 0.35rem;
  color: white;
}
.original_string ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}
.original_string ul li {
  padding-left: 10px;
}

.btns-row,
.output {
  border: 1px solid black;
  border-radius: 0.35rem;
  padding: 2rem;
}
.btns-row .col-md-6 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.btns-row button {
  width: 105%;
  padding: 0.25rem !important;
  border: none;
  background-color: rgb(205, 71, 74);
  color: white;
  border-radius: 0.35rem;
  cursor: pointer;
  margin: 3px;
}

.btns-row button:hover {
  background-color: rgb(141, 49, 50);
}
.output {
  width: 100%;
  height: 16rem;
  overflow: auto;
  padding: 2rem;
}
#basic-addon1:hover {
  background-color: #ebebeb;
}

.btn-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.btn-flex button {
  width: 48%;
}
.footer{
  width: 100vw;
  height: 2rem;
  background-color: rgb(37, 52, 87);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: auto;
  
}
.footer footer p{
  margin: auto 0 ;
}